@use "@infineon/design-system-tokens/dist/tokens";

.list-group {
  max-width: 390px;
  border-radius: 1px;
}

.list-group-item {
  color: tokens.$color-black;
  border: 1px solid tokens.$color-info-200;
}

.list-group-item.active {
  color: tokens.$color-white;
  background-color: tokens.$color-secondary-500;
  border-color: tokens.$color-secondary-500;
}

.ifx {
  &__list-group-heading {
    font-weight: 600;
  }

  &__list-group-date {  
    font-size: 13px;
    color: tokens.$color-secondary-500;
  }
}

.active {
  .ifx {
    &__list-group-date {
      color: tokens.$color-white;
    }
  }

  .badge {
    color: tokens.$color-secondary-500;
  }
}
