@use "@infineon/design-system-tokens/dist/tokens";

.ifx__badge-on-icon {
  font-size: 13px;

  svg {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }

  & .btn-badge {
    position: absolute;
    top: -13px;
    right: -16px;
    color: tokens.$color-white;
    margin-left: 0;
  }
}
