@use "@infineon/design-system-tokens/dist/tokens";

.page-item:not(:first-child) .page-link {
  margin-left: 0;
}

.page-item.active .page-link {
  background-color: tokens.$color-secondary-500;
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 1px;
  font-weight: 600;
  color: tokens.$color-black;
  padding: 0;

  &:focus {
    color: tokens.$color-black;
    background-color: tokens.$color-white;
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px tokens.$color-secondary-400;
  }

  &:hover {
    color: tokens.$color-black;
    background-color: tokens.$color-info-200;

    & .fa-chevron-left,
    & .fa-chevron-right {
      color: tokens.$color-black;
    }
  }
}

.pagination-sm {
  & .page-link {
    padding: 0;
    width: 32px;
    height: 32px;
  }
}

.pagination-lg {
  & .page-link {
    padding: 0;
    width: 40px;
    height: 40px;
  }
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.ifx {
  &__page-link {
    &--first,
    &--previous {
      border-right: 1px solid tokens.$color-info-200;
    }

    &--next,
    &--last {
      border-left: 1px solid tokens.$color-info-200;
    }
  }
}

.pagination {
  .fa-chevrons-left,
  .fa-chevrons-right {
    color: tokens.$color-info-300;
  }
}
