.ifx__image-extended {
  width: 100%;

  &--small {
    height: 116px;

    @include media-breakpoint-up(md) {
      height: 300px;
    }

    @include media-breakpoint-up(lg) {
      height: 400px;
    }
  }

  &--large {
    height: 189px;

      @include media-breakpoint-up(md) {
        height: 400px;
      }

      @include media-breakpoint-up(lg) {
        height: 650px;
      }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}