@use "@infineon/design-system-tokens/dist/tokens";

.ifx__paragraph__columncount {
  column-count: 1;
  column-gap: tokens.$spacing-xl;

  @include media-breakpoint-up(md) { 
    column-count: 2;
  } 
}