@use "@infineon/design-system-tokens/dist/tokens";

.breadcrumb {
  font-size: tokens.$font-size-s;
}

.breadcrumb-item a {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 16px;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: tokens.$color-info-300;
  padding-right: 16px;
  margin: 3px 0;
}
