@use "@infineon/design-system-tokens/dist/tokens";

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ifx__navbar {
  position: sticky;
  top: 0;
  background-color: tokens.$color-white;

  &.scrolling {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  }
}

.navbar {
  .ifx__menu {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;

    a {
      font-weight: 600;
    }
  }

  justify-content: unset;
  padding: 15px 0;
  padding: 0;

  .ifx__mobile-show {
    @media (min-width: 992px) { 
      display: none;
    }
  }

  .ifx__desktop-show {
    display: none;

    @media (min-width: 992px) { 
      display: flex;
      flex-wrap: wrap;
    }
  }

  & > div:first-child {
    padding: 15px 0;
  }

  .navbar-brand {
    margin-right: 16px;
    padding: 0;

    & img {
      width: 95px;
      height: 40px;
    }
  }

  & .navbar-toggler {
    border: none;
    color: transparent;
    padding: 0;
    margin-right: 24px;

    .navbar-toggler-icon {
      width: 21px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%231D1D1D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  & .navbar-collapse {
    border-right: 2px solid tokens.$color-secondary-500;
    padding-top: 24px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      border-right: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    & .ifx__nav-link-wrapper.ifx__mobile-show {
      margin-top: 16px;
    }

    & .ifx__nav-link-wrapper.ifx__mobile-show.ifx__mobile-margin-top {
      margin-top: 0;
    }

    .ifx__searchbar-metalink-wrapper {
      gap: 8px 16px;
      padding-right: 16px;

      @media (min-width: 992px) { 
        padding-right: 0;
      }  
    }
  }

  & .input-group {
    width: 182px;
  }

  & .ifx__nav-link-wrapper {
    @media (min-width: 992px) {
      margin-left: 40px;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
    }

    li {
      list-style: none;
    }

    & :not(.ifx__nav-mega-dropdown) li + li {
      margin-top: 8px;

      @media (min-width: 992px) {
        margin-top: 0;
        margin-left: 24px;
      }
    }
  }

  & li:hover > a {
    font-weight: 600;
    color: tokens.$color-secondary-500;    
  }

  & .nav-link {
    display: block;
    padding: 0;
    font-weight: 400;
    color: tokens.$color-black;

    &:hover {
      font-weight: 600;
      color: tokens.$color-secondary-500;    
    }

    &::after, span::after { 
      display: block;
      content: attr(data-text);
      font-weight: 600;
      visibility: hidden;
      overflow: hidden;
      height: 0px;
      margin-left: 0;
    }

    & svg {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  & .ifx__nav-metalink-wrapper {
    margin-left: 16px;

    & .nav-link + .nav-link {
      margin-left: 16px;
    }
  }

  .dropdown .dropdown-menu {
    transform: translate3d(-12px, 0px, 0px) !important;
    margin-top: 8px;
  }
}

.ifx {
  &__application-name {
    font-size: 20px;
    color: tokens.$color-black;
    margin: 0;
  }
}

.ifx__navbar-extended {
  & .navbar > div:first-child {
    @media (min-width: 992px) {
      padding: 24px 0 11px 0;
    }
  }

  .navbar-expand-lg {
    flex-wrap: wrap;
  }

  .navbar-brand {
    & img {
      @media (min-width: 992px) {
        width: 110px;
        height: 48px;
      }
    }
  }

  & .navbar-collapse {
    @media (min-width: 992px) { 
      padding: 24px 0 11px 0;
    }
  }

  & .input-group {
    @media (min-width: 992px) {
      margin-right: auto;
      width: 272px;
      margin-left: 24px;
    }
  }

  .navbar-expand-lg .navbar-collapse {
    @media (min-width: 992px) {
      display: flow-root !important;
    }
  }

  & .ifx__nav-link-wrapper {
    @media (min-width: 992px) {
      margin-left: 0;
    }
  }

  & .ifx__desktop-show.ifx__nav-link-wrapper .ifx__nav-wrapper {
    padding: 60px;
  }

  & .ifx__nav-wrapper {
    position: relative;
    left: 0;
    transition: left .2s;

    &.open {
      left: -100%;
    }

    & .ifx__nav-mega-dropdown-mobile-content {
      left: 100%;
      width: 100%;
    }
  }

  & .ifx__nav-mega-dropdown-mobile .ifx__nav-mega-dropdown-mobile-content {
    & > div:first-of-type {
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 600;

      a {
        font-weight: 600;
      }
    }
  }

  & .ifx__nav-link-wrapper.ifx__mobile-show {
    position: relative;
    margin-top: 16px;

    a:hover {
      svg {
        color: tokens.$color-secondary-500;
      }
    }

    & .ifx__nav-mega-dropdown-next-layer svg {
      color: tokens.$color-info-300;
    }

    & a div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  & .ifx__nav-link-wrapper.ifx__desktop-show {
    position: relative;
    padding-left: 126px;

    & li {
      padding-bottom: 8px;
    }

    & li.show a + div {
      display: block;

      & > div {
        animation: fadeInDown .2s ease-in;
      }
    }
  }

  .ifx__nav-mega-dropdown-mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: tokens.$color-white;

    &.show {
      display: block;
    }

    & .row > *:not(*:last-of-type) {
      margin-bottom: 20px;
    }

    & .nav-link {
      &:hover {
        & svg {
          color: tokens.$color-secondary-500;
        }
      }

      & svg {
        margin-left: 0;
        margin-right: 8px;
        color: tokens.$color-info-300;
      }
    }
  }

  .ifx__nav-mega-dropdown-mobile-content {
    position: absolute;
  }

  .ifx__nav-mega-dropdown {
    position: absolute;
    left: 0;
    top: 36px;
    display: none;
    border-top: 2px solid tokens.$color-secondary-500;
    background-color: tokens.$color-white;

    & .row {
      width: 100%;
    }

    a:hover {
      svg {
        color: tokens.$color-secondary-500;
      }
    }

    a + a {
      margin-top: 8px;
    }

    & .ifx__nav-link-with-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    svg {
      color: tokens.$color-info-300;
    }

    & .ifx__nav-mega-dropdown-level-3 {
      display: none;
      position: absolute;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: tokens.$color-info-100;
      
      & .w-100 {
        padding: 60px 60px 60px 0;
      }

      .row {
        align-items: flex-start;
      }

      & .col-lg-6 {
        display: block;
      }
    }

    & .nav-link.show {      
      & .ifx__nav-link-with-icon {
        font-weight: 600;
      }

      .ifx__nav-mega-dropdown-level-3 {
        display: block;

        & .w-100 {
          animation: fadeInDown .2s ease-in;
        }
      }
    }
  }
}

.ifx__navbar-extended-level3 {
  & .ifx__desktop-show.ifx__nav-link-wrapper .ifx__nav-wrapper {
    padding: 60px 0 60px 60px;
    width: 50%;
  }
}

.ifx__nav-bar-vertical {
  position: relative;
  position: sticky;
  top: 0;
  display: inline-block;

  & > div:first-of-type {
    width: 190px;
    height: 100%;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-right: 16px;
    border-right: 2px solid tokens.$color-secondary-500;
  }

  & ul {
    padding: 0 16px 0 16px;
  }

  & ul + ul {
    margin-top: 24px;
  }

  & .ifx__content-nav__border {
    & .nav-item + .nav-item {
      margin-top: 8px;
    }

    & .nav-link {
      display: flex;
      align-items: center;
      font-weight: 400;
      padding: 0;
      color: tokens.$color-black;
    }
  }

  & .ifx__content-nav__divider {
    display: hidden;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .ifx__nav-mega-dropdown-mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: tokens.$color-white;

    &.show {
      display: block;
    }

    & .row > *:not(*:last-of-type) {
      margin-bottom: 20px;
    }

    & .nav-link {
      &:hover {
        & svg {
          color: tokens.$color-secondary-500;
        }
      }

      & svg {
        margin-left: 0;
        margin-right: 8px;
        color: tokens.$color-info-300;
      }
    }
  }
}

.ifx__nav-bar-vertical-collapsible {
  &.show {
    & div:first-of-type {
      width: 190px;
      transition: all 0.3s;
      overflow: hidden;
    }

    & .ifx__content-nav__divider {
      visibility: visible;
    }

    & span {
      visibility: visible;
    }
  }

  & div:first-of-type {
    width: 65px;
    transition: all 0.3s;
  }

  & .ifx__content-nav__divider {
    visibility: hidden;
  }

  & span {
    white-space: nowrap;
    visibility: hidden;
  }

  & ul {
    overflow: hidden;
  }

  & .ifx__vertical-nav-icons-btn {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: tokens.$color-white;
    border: 1px solid tokens.$color-info-200;
    margin-top: 32.5px;

    &:focus {
      background-color: tokens.$color-white;
      border-color: tokens.$color-info-200;
    }

    &:hover {
      background-color: tokens.$color-white;
      border-color: tokens.$color-info-200;
    }

    &:active, &.active {
      background-color: tokens.$color-white;
      border-color: tokens.$color-info-200;
    }

    svg {
      color: tokens.$color-secondary-500;
      width: 16px;
      height: 16px;
    }
  }

  & .nav-link {
    & svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
