@use "@infineon/design-system-tokens/dist/tokens";

.ifx__btn-back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 30px;
  height: 30px;
  display: none;
  padding: 0;
  border-radius: tokens.$border-radius-circle;
}

.ifx__btn-back-to-top.scroll-down {
  display: block;
}
