@use "@infineon/design-system-tokens/dist/tokens";

.ifx__btn-back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 30px;
  height: 30px;
  display: none;
  padding: 0;
  border-radius: tokens.$border-radius-circle;
  background-color: tokens.$color-bg-white;
  border-color: tokens.$color-default-500;
  color: tokens.$color-default-500;

  &:hover { 
    background-color: tokens.$color-default-500!important;
    border-color: tokens.$color-default-500!important;
  }
}

.ifx__btn-back-to-top.scroll-down {
  display: block;
}
