@use "@infineon/design-system-tokens/dist/tokens";

.card {
  .list-group {
    .list-group-item {
      padding-left: $card-spacer-x;
      padding-right: $card-spacer-x;
    }
  }
}

.card-subtitle {
  font-size: $font-size-base;
  font-weight: tokens.$font-weight-regular;
  color: $gray-800;
  margin-top: 0;
  margin-bottom: tokens.$spacing-xs;
}

.card-title {
  font-size: tokens.$font-size-xl;
}

.card-body {
  .badge {
    margin-bottom: tokens.$spacing-m;
  }
}
