@use "@infineon/design-system-tokens/dist/tokens";

a {
  color: tokens.$color-black;
  font-weight: 600;
  text-decoration: underline;

  &:focus {
    outline: none;
  }

  &:focus-visible:not(.btn) {
    display: inline-block;
    color: tokens.$color-secondary-600;
    background-color: #B4DDD8;
    padding: 0 4px;
    margin-left: -4px;

    & svg {
      color: tokens.$color-secondary-600;
    }
  }

  &:hover {
    color: tokens.$color-secondary-600;

    & svg {
      color: tokens.$color-secondary-600;
    }
  }

  &:visited {
    color: tokens.$color-black;
  }

  > svg {
    width: 16px;
    height: 16px;
  }

  & .ifx {
    &__link-icon--before {
      margin-right: 8px;
    }

    &__link-icon--after {
      margin-left: 8px;
    }
  }
}

.ifx__link-color-brand {
  color: tokens.$color-secondary-500;

  &:visited {
    color: tokens.$color-secondary-600;
  }
}

.ifx {  
  &__link-underline-none {
    text-decoration: none;
  }
}
