@use "@infineon/design-system-tokens/dist/tokens";

.modal-content {
  border: none;
  border-radius: 1px;
  filter: drop-shadow(0px 10px 40px rgba(36, 34, 34, 0.3));
}

.modal-header {
  padding: 20px 24px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom: 1px solid tokens.$color-info-300;

  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 1;
  }
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  color: tokens.$color-black;
}

.modal-body {
  padding: 16px 24px;
  color: tokens.$color-black;
}

.modal-footer {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top: none;
  padding: 16px 24px;
}

.modal-footer > * {
  margin: 0;
}

.modal-footer > .btn:first-of-type {
  margin-right: 16px;
}
