@use "@infineon/design-system-tokens/dist/tokens";

.popover {
  border: 1px solid tokens.$color-info-300;
  border-radius: 1px;
  box-shadow: 0px 10px 40px rgba(36, 34, 34, 0.1);
}

.popover-header {
  color: tokens.$color-black;
  padding: 12px 21px 0 21px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: tokens.$color-white;
  font-weight: 600;
  border-bottom: none;
}

.popover-body {
  color: tokens.$color-black;
  padding: 12px 21px 14px 21px;
  font-size: 16px;
  line-height: 28px;
}
