@use "@infineon/design-system-tokens/dist/tokens";

.ifx {
  &__carousel
  &__aspect-ratio {
    &__box-wrapper {
      width: 100%;
    }

    &__box {
      position: relative;
      height: 0;

      &__in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &--4-3 {
      padding-bottom: 75%;
    }

    &--16-9 {
      padding-bottom: 56.25%;
    }

    &--1-1 {
      padding-bottom: 100%;
    }
  }
}

.ifx {
  &__carousel {
    &__image {
      max-width: 100%;
    }
  }
}

.carousel-control-prev, 
.carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #EBE9E966;

  &:hover {
    background-color: tokens.$color-gray-300;
  }

  &:active {
    background-color: tokens.$color-gray-100;
  }
}

.carousel-control-prev {
  left: 24px;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>'); 
  width: 1rem;
  height: 1rem;
}

.carousel-control-next {
  right: 24px;
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>'); 
  width: 1rem;
  height: 1rem;
}

.carousel-indicators {
  margin-bottom: 16px;
}



.carousel-indicators [data-bs-target] {
  // width: 8px;
  // height: 8px;
  // margin: 0 5px 0 5px;
  // border-radius: 100%;
  // border-top: none;
  // border-bottom: none;

  box-sizing: content-box;
  flex: 0 1 auto;
  width: 130px;
  height: 4px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #FAFAFA;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  // transition: background-color .6s ease;
  //do you want to have this transition effect between colors?
}

.carousel-indicators .active {
  // opacity: 1;
  background-color: #378375;
}

.carousel-caption {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (min-width: 576px) { 
  .carousel-indicators {
    margin-bottom: 24px;
  }

  .carousel-caption {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
