@use "@infineon/design-system-tokens/dist/tokens";

.btn {
  font-weight: 600;
  border-radius: 1px;
  font-weight: 600;
  padding: 12px 32px;

  &.btn-primary, &.btn-outline-primary,
  &.btn-secondary, &.btn-outline-secondary,
  &.btn-success, &.btn-outline-success,
  &.btn-danger, &.btn-outline-danger,
  &.btn-warning, &.btn-outline-warning {
    &:focus {
      box-shadow: none;
    }
  }

  &.btn-primary, &.btn-outline-primary,
  &.btn-secondary, &.btn-outline-secondary,
  &.btn-success, &.btn-outline-success,
  &.btn-danger, &.btn-outline-danger,
  &.btn-warning, &.btn-outline-warning {
    &:focus-visible {
      box-shadow: 0 0 0 3px #B4DDD8;
    }
  }

  &:disabled, &.disabled {
    opacity: 1;
    background-color: tokens.$color-info-300;
    border-color: tokens.$color-info-300;
    color: tokens.$color-white;
  }

  &.btn-primary,
  &.btn-secondary,
  &.btn-success,
  &.btn-danger,
  &.btn-warning {
    &.active {
      & .btn-badge {
        color: tokens.$color-black;
      }
    }
  }

  &.btn-outline-primary,
  &.btn-outline-secondary,
  &.btn-outline-success,
  &.btn-outline-danger,
  &.btn-outline-warning {
    &:disabled, &.disabled {
      & .spinner-border {
        color: tokens.$color-white;
      }
    }
  }

  &.btn-primary {
    &:focus {
      background-color: tokens.$color-primary-500;
      border-color: tokens.$color-primary-500;
    }

    &:hover {
      background-color: tokens.$color-primary-600;
      border-color: tokens.$color-primary-600;  
    }

    &:active, &.active {
      background-color: tokens.$color-primary-600;
      border-color: tokens.$color-primary-600;  
    }
  }

  &.btn-outline-primary:not(:disabled, .disabled) {
    .btn-badge {
      background-color: tokens.$color-primary-500;
      color: tokens.$color-white;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: tokens.$color-primary-600;
      border-color: tokens.$color-primary-600;

      .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-white;
      }
    }

    &:active, &.active {
      background-color: tokens.$color-primary-600;
      border-color: tokens.$color-primary-600;

      & .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-white;
      }
    }
  }

  &.btn-secondary {
    &:focus {
      background-color: tokens.$color-secondary-500;
      border-color: tokens.$color-secondary-500;
    }

    &:hover {
      background-color: tokens.$color-secondary-600;
      border-color: tokens.$color-secondary-600;
    }

    &:active, &.active {
      background-color: tokens.$color-secondary-600;
      border-color: tokens.$color-secondary-600;  
    }
  }

  &.btn-outline-secondary:not(:disabled, .disabled) {
    .btn-badge {
      background-color: tokens.$color-secondary-500;
      color: tokens.$color-white;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: tokens.$color-secondary-600;
      border-color: tokens.$color-secondary-600;

      .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-white;
      }
    }

    &:active, &.active {
      background-color: tokens.$color-secondary-600;
      border-color: tokens.$color-secondary-600;

      & .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-white;
      }
    }
  }

  &.btn-success:not(:disabled, .disabled) {
    & .spinner-border {
      color: tokens.$color-black;
    }
    
    &:focus {
      background-color: tokens.$color-success-500;
      border-color: tokens.$color-success-500;
    }

    &:hover {
      background-color: tokens.$color-success-600;
      border-color: tokens.$color-success-600;
    }

    &:active, &.active {
      background-color: tokens.$color-success-600;
      border-color: tokens.$color-success-600;
    }
  }

  &.btn-outline-success:not(:disabled, .disabled) {
    color: tokens.$color-black;

    .btn-badge {
      background-color: tokens.$color-success-500;
      color: tokens.$color-white;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: tokens.$color-success-600;
      border-color: tokens.$color-success-600;

      .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-black;
      }
    }

    &:active, &.active {
      background-color: tokens.$color-success-600;
      border-color: tokens.$color-success-600;

      & .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-black;
      }
    }
  }
  
  &.btn-danger {
    &:focus {
      background-color: tokens.$color-danger-500;
      border-color: tokens.$color-danger-500;
    }

    &:hover {
      background-color: tokens.$color-danger-600;
      border-color: tokens.$color-danger-600;
    }

    &:active, &.active {
      background-color: tokens.$color-danger-600;
      border-color: tokens.$color-danger-600;
    }
  }

  &.btn-outline-danger:not(:disabled, .disabled) {
    .btn-badge {
      background-color: tokens.$color-danger-500;
      color: tokens.$color-white;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: tokens.$color-danger-600;
      border-color: tokens.$color-danger-600;

      .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-white;
      }
    }

    &:active, &.active {
      background-color: tokens.$color-danger-600;
      border-color: tokens.$color-danger-600;

      & .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-white;
      }
    }
  }

  &.btn-warning:not(:disabled, .disabled) {
    & .spinner-border {
      color: tokens.$color-black;
    }

    &:focus {
      background-color: tokens.$color-warning-500;
      border-color: tokens.$color-warning-500;
    }
    
    &:hover {
      background-color: tokens.$color-warning-600;
      border-color: tokens.$color-warning-600;
    }

    &:active, &.active {
      background-color: tokens.$color-warning-600;
      border-color: tokens.$color-warning-600;
    }
  }

  &.btn-outline-warning:not(:disabled, .disabled) {
    color: tokens.$color-black;

    .btn-badge {
      background-color: tokens.$color-warning-500;
      color: tokens.$color-white;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover {
      background-color: tokens.$color-warning-600;
      border-color: tokens.$color-warning-600;

      .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }

      & .spinner-border {
        color: tokens.$color-black;
      }
    }

    &:active, &.active {
      background-color: tokens.$color-warning-600;
      border-color: tokens.$color-warning-600;

      .btn-badge {
        background-color: tokens.$color-white;
        color: tokens.$color-black;
      }
      
      & .spinner-border {
        color: tokens.$color-black;
      }
    }
  }

  &.btn-primary svg.svg-inline--fa,
  &.btn-outline-primary svg.svg-inline--fa,
  &.btn-secondary svg.svg-inline--fa,
  &.btn-outline-secondary svg.svg-inline--fa,
  &.btn-success svg.svg-inline--fa,
  &.btn-outline-success svg.svg-inline--fa,
  &.btn-danger svg.svg-inline--fa,
  &.btn-outline-danger svg.svg-inline--fa,
  &.btn-warning svg.svg-inline--fa,
  &.btn-outline-warning svg.svg-inline--fa {
    width: 14px;
    height: 14px;
  }

  &.btn-outline-primary,
  &.btn-outline-secondary,
  &.btn-outline-success,
  &.btn-outline-danger,
  &.btn-outline-warning {
    & .spinner-border {
      color: tokens.$color-black;
    }
  }

  & .spinner-border {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    color: tokens.$color-white;
  }
}

.btn-sm {
  & svg.svg-inline--fa {
    vertical-align: -2.5px;
  }
}

.btn-lg {
  font-size: 22px;

  & svg.svg-inline--fa {
    vertical-align: 0;
  }
}

.ifx {
  &__btn-icon {
    &--before {
      margin-right: 10px;
    }

    &--after {
      margin-left: 10px;
    }
  }
}

.btn-badge {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 2px 8px;
  min-width: 18px;
  min-height: 18px;
  margin-left: 12px;
  background-color: tokens.$color-white;
  color: tokens.$color-black;
}

.ifx__badge-on-icon {
  font-size: 13px;

  svg {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }

  & .btn-badge {
    position: absolute;
    top: -13px;
    right: -16px;
    color: tokens.$color-white;
    margin-left: 0;
  }
}

.ifx__btn-back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 30px;
  height: 30px;
  display: none;
  padding: 0;
  border-radius: tokens.$border-radius-circle;
}

.ifx__btn-back-to-top.scroll-down {
  display: block;
}
