@use "@infineon/design-system-tokens/dist/tokens";

// Label
// 
.form-label {
  line-height: normal;

  &.ifx--disabled {
    color: $disabled-color;
  }
}

// Text
//
.form-text {
  
  &.ifx--disabled {
    color: $disabled-color;
  }
}

.valid-feedback {
  color: $body-color;
}

// Form Control
//
.form-control {
  &:valid:focus,
  &.is-valid:focus {
    border-color: $input-border-color;
    box-shadow: $input-btn-focus-box-shadow;
  }
  
  &:invalid:focus,
  &.is-invalid:focus {
    border-color: $input-border-color;
    box-shadow: $input-btn-focus-box-shadow;
  }

  &:disabled {
    color: $disabled-color;
  }
}






// Check + Radio
// 
.form-check-input {
  width: 13px;
  height: 13px;
  margin-top: 7.5px;
  border: 1px solid tokens.$color-info-400;
}

.form-check-input:checked {
  background-color: tokens.$color-secondary-500;
  border-color: tokens.$color-secondary-500;
}

.form-check-input:checked[type="radio"] {
  background-color: tokens.$color-white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%23378375'/%3E%3C/svg%3E");
}

.form-check-input:checked[type="radio"]:focus {
  background-color: tokens.$color-white;
}

#checkbox.form-check-input[type="checkbox"] {
  border-radius: 1px;
}

.form-check-input:focus {
  border-color: tokens.$color-info-400;
  box-shadow: none;
}

.form-check-input:focus-visible {
  border-color: tokens.$color-info-400;
  box-shadow: 0 0 0 3px #59B29B66;
}

.form-check-input:checked:focus {
  background-color: tokens.$color-secondary-500;
  border-color: tokens.$color-secondary-500;
}

#checkbox.form-check-input:disabled,
#radioButton.form-check-input:disabled {
  opacity: 1;
  background-color: tokens.$color-info-400;
}

#checkbox.form-check-input:disabled:checked,
#radioButton.form-check-input:disabled:checked {
  border-color: tokens.$color-info-400;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 1;
}

.form-switch {
  margin-left: 13px;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.7' fill='%237D6F72'/%3E%3C/svg%3E");
}

.form-switch .form-check-input:checked {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%23FFF'/%3E%3C/svg%3E");
}

.form-switch .form-check-input {
  height: 22px;
  width: 40px;
  margin-top: 3px;
  margin-left: -53px;
  border: 1px solid tokens.$color-info-500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.7' fill='%237D6F72'/%3E%3C/svg%3E");
}

#switch.form-check-input:disabled {
  opacity: 1;
  border-color: tokens.$color-info-400;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.7' fill='%23C5BBBD'/%3E%3C/svg%3E");
}

#switch.form-check-input:disabled:checked {
  background-color: #59B29B66;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%23FFF'/%3E%3C/svg%3E");
}

.form-check-label {
  font-weight: 600;
  color: tokens.$color-black;
}

.form-select.form-select-sm {
  font-size: 13px;
}

.form-select {
  font-size: 16px;

  option[disabled]:first-child {
  	display: none;
  }
}

.form-select.form-select-lg {
  font-size: 22px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: tokens.$color-secondary-500;
}

input[type=range]::-moz-range-thumb:active {
  background-color: tokens.$color-secondary-600;
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px #59B29B66;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background-color: tokens.$color-info-200;
  border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background-color: tokens.$color-secondary-500;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #59B29B66;
}

input[type=range]::-webkit-slider-thumb:active {
  background-color: tokens.$color-secondary-600;
  box-shadow: 0 0 0 3px #59B29B66;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background-color: tokens.$color-info-200;
  border-radius: 1px;
}

#ifx__inputSearch.form-control {
  padding: 8px calc(12px + 12px + 20px) 8px 16px;
}

#ifx__inputSearch.form-control-sm {
  padding: 8px calc(8px + 8px + 16px) 8px 16px;
}

#ifx__inputSearch.form-control-lg {
  padding: 8px calc(12px + 12px + 24px) 8px 16px;
}

.ifx__search-icon-wrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  pointer-events: none;
  z-index: 2;
  margin-right: 12px;
  width: 20px;
  height: 20px;

  svg.svg-inline--fa {
    width: 20px;
    height: 20px;
    vertical-align: 1px;
    color: tokens.$color-info-500;
  }
}

.form-control-sm + .ifx__search-icon-wrapper {
  margin-right: 8px;
  width: 16px;
  height: 16px;

  svg.svg-inline--fa {
    vertical-align: 4px;
    width: 16px;
    height: 16px;
  }
}

.form-control-lg + .ifx__search-icon-wrapper {
  margin-right: 12px;
  width: 24px;
  height: 24px;

  svg.svg-inline--fa {
    width: 24px;
    height: 24px;
  }
}

textarea {
  resize: none;
}
