@use "@infineon/design-system-tokens/dist/tokens";

// Check + Radio
// 
.form-check-input {
  &:hover:not(:checked) {
    background-color: tokens.$color-info-200;
  }
}

.form-check-input:disabled {
  &,
  &:hover {
    background-color: tokens.$color-info-300;
    border-color: tokens.$color-info-300;
  }
}

.form-check-input:checked[type="checkbox"] {
  background-size: 70%;
}

.form-check-input:checked[type="radio"] {
  background-color: tokens.$color-white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%23378375'/%3E%3C/svg%3E");
}






.form-switch {
  margin-left: 13px;
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.7' fill='%237D6F72'/%3E%3C/svg%3E");
}

.form-switch .form-check-input:checked {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%23FFF'/%3E%3C/svg%3E");
}

.form-switch .form-check-input {
  height: 22px;
  width: 40px;
  margin-top: 3px;
  margin-left: -53px;
  border: 1px solid tokens.$color-info-500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.7' fill='%237D6F72'/%3E%3C/svg%3E");
}

#switch.form-check-input:disabled {
  opacity: 1;
  border-color: tokens.$color-info-400;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.7' fill='%23C5BBBD'/%3E%3C/svg%3E");
}

#switch.form-check-input:disabled:checked {
  background-color: #59B29B66;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2.5' fill='%23FFF'/%3E%3C/svg%3E");
}

.form-check-label {
  font-weight: 600;
  color: tokens.$color-black;
}