.ifx__searchbar {
  padding-right: $input-padding-x * 3;
  
  background-color: transparent;
  background-image: escape-svg($form-searchbar-icon);
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: $form-searchbar-icon-size;

  &:disabled {
    background-image: escape-svg($form-searchbar-disabled-icon);
  }
}