@use "@infineon/design-system-tokens/dist/tokens";

.spinner-border,
.spinner-grow {
  width: 44px;
  height: 44px;
  color: tokens.$color-secondary-500;
}

.spinner-border-sm,
.spinner-grow-sm {
  width: 26px;
  height: 26px;
}
