@use "@infineon/design-system-tokens/dist/tokens";

.ifx__teaser {
  border-top: 1px solid tokens.$color-info-200;
  border-radius: 1px;

  & .card-body {
    padding: 17px 18px;
  }

  & .card-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 35.2px;
    margin-bottom: 8px;
  }

  & .card-subtitle {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
  }

  & .card-link {
    font-weight: 600;
    color: tokens.$color-secondary-500;
    text-decoration: none;
  }
}

.ifx__teaser-vertical {
  max-width: 370px;

  .card-img-overlay {
    height: calc(100% - 56px);
  }

  & .ifx__card-link-wrapper {
    border-top: 1px solid tokens.$color-info-200;
  }
}


.ifx__teaser-horizontal {
  max-width: 711px;

  & img {
    max-width: 100%;
  }

  & .ifx__aspect-ratio {
    &__box-wrapper, .ifx__card__img {
      max-width: 370px;
      width: 100%;
    }

    &__box {
      position: relative;
      height: 0;

      &__in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &--4-3 {
      padding-bottom: 75%;
    }

    &--16-9 {
      padding-bottom: 56.25%;
    }

    &--1-1 {
      padding-bottom: 100%;
    }
  }
}

.ifx__teaser-horizontal {
  & .card-img-overlay {
    height: calc(100% - 56px);
  }

  & .card-title {
    font-size: 28px;
  }

  & .ifx__card-link-wrapper {
    border-top: 1px solid tokens.$color-info-200;
  }

  & .card-link {
    color: tokens.$color-secondary-500;
    text-decoration: none;
  }
}

.ifx__teaser-vertical {
  & .ifx__aspect-ratio {
    &__box-wrapper, .ifx__card__img {
      max-width: 370px;
      width: 100%;
    }

    &__box {
      position: relative;
      height: 0;

      &__in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }

    &--4-3 {
      padding-bottom: 75%;
    }

    &--16-9 {
      padding-bottom: 56.25%;
    }

    &--1-1 {
      padding-bottom: 100%;
    }
  }
}
