@use "@infineon/design-system-tokens/dist/tokens";

.ifx {
  &__paragraph-with-images {
    & .ifx__aspect-ratio {
      &__box-wrapper {
        width: 100%;
      }

      &__box {
        position: relative;
        height: 0;

        &__in {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }

      &--4-3 {
        padding-bottom: 75%;
      }

      &--16-9 {
        padding-bottom: 56.25%;
      }

      &--1-1 {
        padding-bottom: 100%;
      }
    }

    .row > * {
      padding-right: 15px;
      padding-left: 15px;
    }

    .row > *:first-of-type {
      margin-bottom: 24px;

      @media (min-width: 768px) { 
        margin-bottom: 0;
      } 
    }
    
    .ifx__paragraph-category {
      margin-bottom: 16px;
      font-weight: 600;
    }

    h3 {
      font-size: 36px;
      line-height: 45px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    ul {
      margin-left: 16px;
      margin-bottom: 0;

      li + li {
        margin-top: 12px;
      }

      svg, .svg-inline--fa.fa-w-14 {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        vertical-align: -6px;
      }
    }

    .ifx__image-description {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 8px;

      @media (min-width: 768px) { 
        margin-left: 30px;
      } 
    }

    .ifx__image-description-text {
      font-size: 13px;
      margin-bottom: 0;

      @media (min-width: 768px) { 
        margin-left: 30px;
      } 
    }
  }
}

.ifx__image-top {
  .row {
    display: block;
  }

  .row > *:first-of-type {
    @media (min-width: 768px) { 
      margin-bottom: 24px;
    } 
  }
}

.ifx__image-bottom {
  .col-md-10 {
    & > div {
      margin-top: 40px;
    }
  }

  & .col-md-6 {
    & + * {
      margin-top: 24px;

      @media (min-width: 768px) { 
        margin-top: 0;
      } 
    }
  }
}

.ifx__paragraph-without-icon {
  & .row > * {
    padding-right: 15px;
    padding-left: 15px;
  }

  .ifx__paragraph__columns {
    column-count: 1;
    column-gap: 30px;

    @media (min-width: 768px) { 
      column-count: 2;
    } 
  }

  .ifx__paragraph-without-icon-article-text {
    font-size: 16px;
    margin-bottom: 16px;

    @media (min-width: 768px) { 
      font-size: 22px;
      margin-bottom: 8px;
    } 
  }

  p {
    font-size: 13px;

    @media (min-width: 768px) { 
      font-size: 16px;
    } 
  }
}

.ifx {
  &__bulletpoints {
    &.row > * {
      padding-right: 15px;
      padding-left: 15px;
    }

    .col-md-3, .col-md-4, .col-md-6 {
      margin-bottom: 24px;
    }

    @media (min-width: 768px) {
      .col-md-3, .col-md-4, .col-md-6 {
        margin-bottom: 0;
      }
    }

    h5 {
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: 8px;
    }

    .svg-inline--fa.fa-w-14 {
      width: 40px;
      height: 40px;
      margin-bottom: 16px;
      vertical-align: -0.5em;
    }

    p {
      margin-bottom: 0;
    }
  }
}
