@use "@infineon/design-system-tokens/dist/tokens";

.badge {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.25;
}

h1 .badge {
  padding: 6px 32px;
}

h2 .badge {
  padding: 6px 30px;
}

h3 .badge {
  padding: 6px 28px;
}

h4 .badge {
  padding: 6px 26px;
}

h5 .badge {
  padding: 6px 24px;
}

h6 .badge {
  padding: 6px 22px;
}
