@use "@infineon/design-system-tokens/dist/tokens";

h1 {
  font-size: tokens.$font-size-xxxxl;
}

h2 {
  font-size: tokens.$font-size-xxxl;
}

h3 {
  font-size: tokens.$font-size-xxl;
}

h4 {
  font-size: tokens.$font-size-xl;
}

h5 {
  font-size: tokens.$font-size-l;
}

h6 {
  font-size: tokens.$font-size-m;
}
